#content {
	border-radius: 5px;
	border: 1px solid #003b49;
	padding: 20px;

	-webkit-box-shadow: 5px 5px 12px rgba(128,128,128,0.9);
	box-shadow: 5px 5px 12px rgba(128,128,128,0.9);
	filter: drop-shadow(5px 5px 5px #e0e0e0);
}

body {
	margin-bottom: 20px;
	background-image: url("../images/leaves_bg.png");
	background-repeat: repeat;
}

#site_logo {
	position: absolute;
	top: 20px;
	left: 0;
}

#topNav {
	color:				#000000;
	text-align:			center;
	font-family:		'EB Garamond', sans-serif;
	font-weight:		600;
	font-size:			3.5rem;
	font-style:			italic;
	z-index:			99;
	position:			relative;
	text-shadow:		0 0 5px #e0e0e0,
						0 0 10px #e0e0e0,
						0 0 20px #e0e0e0;
}

.topShade {
	height:				70px;
	width:				100%;
	z-index:			50;

	background-color: #404040;
	opacity: 0.75;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	top: 0;
	left: 0;
}
