html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#handle {
	position: absolute;
	left: 0;
	top: 15px;
	z-index: 100;
}

#popout {
	background-color: #e0e0e8 !important;
	width: 300px;
	position: absolute;
	left: -300px;
	top: 50px;
	z-index: 1500;
}

#autosize {
	width: 100%;
}

#articleList {
	display: none;
}

.menuItem {
	line-height: 2.5;
	font-size: 13px !important;
	color: #303030 !important;
	padding: 0;
	text-decoration: none;
}

.menuItem a {
	text-decoration: none;
}

#submenu {
	padding-top: 1px;
	border-bottom: solid 1px #ffffff;
}

#content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 20px 20px;
  font-family: 'Noto Sans', sans-serif;

  position: relative;
  z-index: 0;
}

body {
	background-image: url("../images/leaves_bg.png");
	background-repeat: repeat;
}

#site_logo_mobile {
	position: absolute;
	top: 0;
	right: 0;
/*	z-index: 75;*/
}

#topNav {
	color:				#000000;
	height:				50px;
	width:				100%;
	text-align:			center;
	font-family:		'EB Garamond', sans-serif;
	font-weight:		600;
	font-size:			2.5rem;
	font-style:			italic;
	z-index:			99;

	position:			relative;
	text-shadow:		0 0 5px #e0e0e0,
						0 0 10px #e0e0e0,
						0 0 20px #e0e0e0;
}

.topShade {
	width:				100%;
	height:				50px;
	z-index:			50;

	background-color: #404040;
	opacity: 0.75;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	top: 0;
	left: 0;
}
